<h2>Subscription <%= @subscription.id %></h2>

Last Payment: <%= @subscription['billing_info']['last_payment']['time'] %><br />
Next Billing Date: <%= @subscription['billing_info']['next_billing_time'] %><br /><br />


<%= render "shared/debug", data: @subscription.to_h %>

