<h2>Payments</h2>
<ol>
<% @payments.each do |payment| %>
  <li>
  <%= link_to payment.paypal_id, payment_path(id: payment.paypal_id) %>
  <small><time><%= payment.created_at %></time></small>
  </li>
<% end %>
</ol>

<h2>Subscriptions</h2>
<ol>
<% @subscriptions.each do |subscription| %>
  <li>
  <%= link_to subscription.paypal_subscription_id, subscription_path(id: subscription.paypal_subscription_id) %>
  <small><time><%= subscription.created_at %></time></small>
  </li>
<% end %>

