nav {
    color: var(--primary);
    border-bottom: 1px solid var(--secondary);
}

nav h1 {
    font-size: 1em;
    margin: 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-weight: bold;
    transform: translateX(-1rem);
}

@media all and (max-width: 60rem) {
    .navbar-brand {
        transform: none;
    }
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a:hover,
nav input:hover {
    cursor: pointer;
    background: var(--primary);
    color: white;
}

nav a,
nav input {
    padding: 1rem;
    color: inherit;
    display: inline-block;
    font: inherit;
    border: none;
    background: none;
    text-decoration: none;
}

@media all and (max-width: 60rem) {
    nav {
        font-size: .8rem;
        padding: 0rem;
    }
}
