/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --primary: #5739ce;
    --secondary: lavender;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

body {
    font-family: sans-serif;
    color: #333;
}

details {
    margin: 1rem 0;
}

details summary {
    cursor: pointer;
}

.public {
    padding: 2rem 0;
}

.flex {
    display: flex;
    gap: 1rem;
}

@media all and (max-width: 30rem) {
    .flex {
        flex-direction: column;
    }
    .button,
    input.button {
        width: 100%;
        text-align: center;
    }
}

.plan {
    border: 1px solid var(--secondary);
    flex: 1;
    padding: 1rem;
}

@media all and (max-width: 60rem) {
    .plan {
        margin-bottom: 1rem;
    }
}

.plan ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan :first-child {
    margin-top: 0;
}

.plan:last-of-type {
    background: var(--secondary);
}

.plan .unavailable {
    text-decoration: line-through;
    color: #c0c0c0;
    padding-left: 1.25rem;
}

h1,
h2,
h3 {
    font-weight: lighter;
}

h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
    margin-top: 2rem;
}

hr {
    border: none;
    height: 1px;
    background: var(--secondary);
    margin: 4rem 0;
}

.container {
    max-width: 60rem;
    margin: auto;
}

section,
footer {
    padding: 1em 0;
}

footer {
    border-top: 1px solid var(--secondary);
    color: #666;
    font-size: .8rem;
    margin-top: 2rem;
}

a {
    color: var(--primary);
    text-decoration-color: #eeebee;
    text-underline-offset: 2px;
}

a:hover {
    text-decoration-color: var(--primary);
}

.button {
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    border: 1px solid var(--primary);
    cursor: pointer;
}

input.button {
    font: inherit;
}

.cta {
    background: var(--primary);
    color: white;
}

.cta-light {
    background: none;
    color: var(--primary);
}

.button.cta-light {
    font-size: 1rem;
}

@media all and (max-width: 60rem) {
    .public {
        padding: 0;
        margin-bottom: 1rem;
    }

    .features {
        flex-wrap: wrap;
    }

    section,
    footer {
        padding: 1rem;
    }
}

.logos img {
    width: 100%;
}

.text-align-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}

.feature {
    flex: 1;
    border: 1px solid var(--secondary);
    padding: .5rem;
}

.feature h4 {
    text-align: center;
    font-weight: lighter;
    font-size: 1.5rem;
}
