<div class='public'>
  <h2>My Awesome Product</h2>
  <p>And some more information here about why people should stay on the site. It's pretty great!</p>

  <div>
    <a href='#' class='btn btn-primary'>1st Thing</a>
    <a href='#' class='btn btn-outline-primary'>2nd Thing</a>
  </div>
</div>