No plans yet.

<p>Create one in the rails console!</p>

<pre>
product = PayPal::Product.create!(name: 'Example product', description: 'example product description')
plan = PayPal::Plan.create!(product_id: product.id, name: 'Example plan', description: 'example plan description')

</pre>
