<h1>Pricing</h1>

<% @plans.each do |plan| %>
  <%#= plan.inspect %>
  <h3><%= plan[:name] %></h3>
  <p><%= plan[:description] %></p>
  <%= number_to_currency(plan[:billing_cycles][0]["pricing_scheme"]["fixed_price"]["value"])%>
  <%= plan[:billing_cycles][0]["frequency"]["interval_unit"].downcase %>ly
<% end %>
