name: Fly Deploy
on:
  push:
    branches: [ ma ]
env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_KEY }}
jobs:
  deploy:
      name: Deploy app
      runs-on: ubuntu-latest
      environment: 
        name: production
        url: https://saas-starter.app/
      steps:
        - uses: actions/checkout@v2
        - uses: superfly/flyctl-actions/setup-flyctl@master
        - run: flyctl deploy --remote-only
