<h2>Account Details</h2>
<p>Logged in as <%= current_user.email %></p>

<hr />
<h2>Billing Details</h2>
<br />

<% if @payments.any? %>
  <%= link_to "View payments", payments_path %><br />
<% end %>

<h3>Make a one-time purchase</h3>
<div id='paypal-button-container'></div>
<script src="https://www.paypal.com/sdk/js?disable-funding=credit&client-id=<%= Rails.application.credentials.dig(:paypal, :client_id) %>"></script>

<script>
paypal.Buttons({
  createOrder: async (data, actions) => {
    const response = await fetch("/payments", {
      method: "POST"
    })
    const order = await response.json()
    return order.id
  },
  onApprove: async (data, actions) => {
    const response = await fetch(`/payments/${data.orderID}/capture`, {
      method: "POST"
    })
    const order = await response.json()
    window.location = `/payments/${order.id}`
  }
}).render('#paypal-button-container');
</script>
