<h2>Account Details</h2>
<p>Logged in as <%= current_user.email %></p>

<hr />
<h2>Billing Details</h2>
<br />

<% if @payments.any? %>
  <%= link_to "View past payments", payments_path %><br />
<% end %>

<%= link_to "Make a one time payment", new_payment_path %><br />
<%= link_to "Subscribe", plans_path %>
