<h2>Account Details</h2>
<p>Logged in as <%= current_user.email %></p>

<h2>Billing Details</h2>
<% if current_user.stripe_subscription_id %>
<%= link_to "Edit Subscription", @portal %>
<% else %>

<button id='checkout-button' class='btn btn-outline-primary'>Add Payment Method</button>
<script src="https://js.stripe.com/v3/"></script>
<script>
var stripe = Stripe('<%= Rails.application.credentials.stripe[:public_api_key] %>');
var checkoutButton = document.getElementById('checkout-button');
checkoutButton.addEventListener('click', function() {
  stripe.redirectToCheckout({
    sessionId: '<%= @session.id %>'
  }).then(function (result) {
    alert(result.error.message)
  });
});
</script>
<% end %>